.App {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.App__input,
.App__info {
    display: inline-block;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
}

.App__input {
    background-color: #eee;
    margin-right: 16px;
}

.App__info {
    background-color: bisque;
}